<ion-header>

  <ion-navbar color="primary">
    <ion-title>Detalle Servicio N° {{IdServicio}}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>
      Datos Básicos
    </ion-card-header>
    <ion-card-content>

      <ion-item>
        <h2>{{servicio.NumeroContrato}}</h2>
        <p> N° Contrato</p>
      </ion-item>

      <ion-item>
        <h2 ion-text text-capitalize color="greenApp"><strong>{{servicio.Estado}}</strong></h2>
        <p>Estado</p>
      </ion-item>

      <ion-item>
        <h2 ion-text text-capitalize>Transfert</h2>
        <p> Tipo de servicio </p>

      </ion-item>

      <ion-item>
        <h2>{{servicio.FechaServicio}} &nbsp;&nbsp; {{servicio.Hora}} </h2>
        <p>Fecha y Hora </p>
      </ion-item>

      <ion-item >
        <ion-row>
          <ion-col col-7>
            <h2 ion-text text-wrap text-capitalize>{{servicio.FormaPago}} </h2>
            <p>Forma de Pago </p>
          </ion-col>
          <ion-col col-5>
            <h2 ion-text color="secondary" text-wrap><strong>$ {{servicio.ValorTotal | number}}</strong></h2>
            <p>Valor </p>
          </ion-col>
        </ion-row>
      </ion-item>

    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="verConductor">
    <ion-card-header>
      Datos Conductor
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <h2>{{servicio.Placa}}  </h2>
        <p>Placa </p>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card no-padding>
    <ion-card-header>
      Ubicación
    </ion-card-header>
    <ion-card-content>

      <div id="map_canvas" class="hidden">
          
      </div>
      <ion-fab right top>
        <button ion-fab>
          <ion-icon name="pin"></ion-icon>
        </button>
      </ion-fab>

      <ion-item>
        <ion-icon name="locate" item-start></ion-icon>
        <h2>{{servicio.DireccionOrigen}}</h2>
        <p>Dirección origen</p>
      </ion-item>

      <ion-item>
        <ion-icon name="map" item-start></ion-icon>
        <h2>{{servicio.DireccionDestino}}</h2>
        <p>Dirección Destino</p>
      </ion-item>

      <ion-item>
        <span item-start>18 min</span>
        <span item-start>(2.6 mi)</span>
        <button ion-button icon-start clear item-end>
          <ion-icon name="navigate"></ion-icon>
          Start
        </button>
      </ion-item>

    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      Responsable(s)
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let item of servicio.Contactos; let idx = index">
          <ion-icon name="contact" item-start></ion-icon>
          <h2>Resp. {{item.scNombre}}</h2>
          <p>Tel. {{item.scTelefono}}</p>
          <p>Nota. {{item.scNota}}</p>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card [style.display]="servicio.TipoServicidoId == 1 ? 'block' : 'none'">
    <ion-card-header>
      Parada(s)
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let item of servicio.Paradas; let idx1 = index">
          <ion-icon name="map" item-start></ion-icon>
          <h2>Dir. {{item.prDireccion}}</h2>
          <p>Valor. ${{item.prValorCliente | number}}</p>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>



</ion-content>